.bottomnavContainer{

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 0 0 0;
    height: 95px;
    min-height: 95px;
    width: 100%;

}