.displaySettingsHeader{
    padding: 0 0 0 15px;
    font-size: small;
    color: grey;
    font-weight: 500;
}

.displaySettingsFormItem{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0 0 0 20px;
    margin: 0 0 0 0;
    background-color: transparent;
    color: black;

    font-size: 12px;
}

.displaySettingsFormItem > input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    width: 75px;
    height: 15px;
    padding: 2px 0 2px 2px;
    margin: 0 0 0 10px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 4px;
}

.displaySettingsFormItem > input:focus{
    outline: none;
}

.displaySettingsFormButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: grey;
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 0 0 0 5px;
    padding: 0;
    box-sizing: content-box;
}

.displaySettingsFormIcon{
    color: grey;
    width: 15px;
}

.displaySettingsFormButton:hover{
    cursor: pointer;
    background-color: rgb(224, 224, 224);
    color: black;
}

.displaySettingsFormButton:hover .displaySettingsFormIcon{
    color: black;
}