.svg{
    height:100%;
    width: 100%;
}

.nodeLabel{
    fill: black;
    font-size: 6px;
    user-select: none;
    pointer-events: none;
}

.node{
    fill: white;
    stroke: black;
    stroke-width: 1px;
    user-select: none;
    z-index: 2;
}

.node:hover{
    cursor: pointer;
}

.link{
    
    fill: none;
    stroke: darkgray;
    stroke-width: 1.0;
    pointer-events: none;
}

.linkLabel{
    fill: grey;
    user-select: none;
    font-size: 8px;
}

.highlightNode{
    fill: white;
    stroke: orangered;
    stroke-width: 1px;
}

.arrowhead{
    fill: gray;
}