.svg{
    height:100%;
    width: 100%;
    /* border: 1px solid cyan; */
}

.nodeLabel{
    fill: black;
    font-size: 6px;
    user-select: none;
}

.node{
    fill: white;
    stroke: black;
    stroke-width: 1px;
    user-select: none;
}

.node:hover{
    cursor: pointer;
}

.link{
    fill: blue;
    stroke: blue;
    stroke-width: 1px;
}

.linkLabel{
    fill: black;
    font-size: 6px;
    user-select: none;
}

.highlightNode{
    fill: white;
    stroke: orangered;
    stroke-width: 1px;
}