.graphFilterHeader {
    margin: 35px 0 0 0;
    padding: 0 0 0 15px;
    font-size: small;
    color: grey;
    font-weight: 500;
}

.graphFilterContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: transparent;
    color: black;

    height: 100%;

    font-size: 12px;
}

.graphFilterItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 15px;
    margin: 0 0 0 0;

    width: 185px;

}

.graphFilterItem>label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 2px 0 2px 5px;
    border-radius: 4px;


}

.graphFilterItem>label:hover {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}

.graphFilterItem>label:hover .graphFilterCheckIcon {
    color: black;
}

.graphFilterCheckboxIconContainer {
    width: 18px;
    min-width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid gray;
    color: gray;
}

input.graphFilterCheckbox {
    outline: 2px solid magenta;
}


input.graphFilterCheckbox:checked {
    outline: 2px solid cyan;
}

.graphFilterCheckIcon {
    display: none;
}

input.graphFilterCheckbox:checked+label .graphFilterCheckIcon {
    display: block;
}