.svg{
    height:100%;
    width: 100%;
    /* border: 1px solid cyan; */
}

.nodeLabel{
    fill: black;
    font-size: 6px;
    
}

.node{
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

.link{
    fill: blue;
    stroke: blue;
    stroke-width: 1px;
}

.linkLabel{
    fill: black;
    font-size: 6px;
}