.canvas {
    width: 100vw;
    height: 90%;

}

.svg{
    height: 100%;
    width: 100%;
    border: 1px solid gold;
}

.nodeTag{
    fill: black;
    font-size: 1px;
    background-color: cyan;
    
}

.node{
    fill: white;
    stroke: black;
    stroke-width: 0.025rem;
}