# Domain
# This would be set to the production domain with an env var on deployment
DOMAIN=localhost

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="IdeaLog API Project"
STACK_NAME=idealog-api-project

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:3000,http://frontend:3000,http://frontend,http://localhost:5173,https://localhost"
SECRET_KEY=yoursecrekey
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=yourpassword
USERS_OPEN_REGISTRATION=False

# Emails
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=info@example.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

# Postgres
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=idealogapi
POSTGRES_DB_TEST=idealogapi_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Neo4j
# Get a free instance of Neo4j Aura at https://neo4j.com/aura/
NEO4J_URI=example
NEO4J_USERNAME=example
NEO4J_PASSWORD=example

SENTRY_DSN=

# Configure these with your own Docker registry images
DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend

# Celery
CELERY_BROKER_URL=amqp://rabbitmq:5672// # amqp:// for local dev without docker
CELERY_RESULT_BACKEND=rpc://