.workspaceContainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: green;

}

.sideNavContainer {
    background-color: rgb(240, 240, 240);
    width: 260px;
    min-width: 260px;
    height: 100vh;
}

.graphCanvasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    background-color: rgb(245, 245, 245);

    

}

.graphCanvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;

    background-color: rgb(245, 245, 245);

}