.workspaceContainer {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: var(--window-inner-height);
    background-color: green;

}

.sideNavContainer {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    height: 100%;
}

.graphCanvasContainer {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    min-width: 350px;
    background-color: rgb(245, 245, 245);

    

}

.graphCanvas {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;

    background-color: rgb(245, 245, 245);
}