/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.icons{
  border: 2px solid magenta;
}

#modal-root{
  /* position: relative; */
  
}

.modalBackdrop{
    position: absolute;
    top: 0;
    left: 0;
    
     
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    background-color: rgba(0, 0, 0, 0.474);
    width: 100vw;
    height: 100vh;
}

.noSelect{
  user-select: none;
}

.notAllowed{
  cursor: not-allowed !important;
}

.noPointerEvents{
  pointer-events: none;
}