.ideaModalContainer {
    display: flex;
    flex-direction: column;
    /* width: 250px; */
    height: 100%;
    min-height: 150px;
    background-color: transparent;

    box-sizing: border-box;
    
}

.ideaModalHeader{
    position: relative;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 20px 0 20px;
}

.ideaModalHeader p{
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: black;
}

.ideaModalDivider{
    width: 100%;
    height: 1px;
    background-color: rgb(207, 207, 207);
    margin-bottom: 20px;
}